{:paths   ["src/cljs" "src/cljc" "target" "resources"]
 :deps    {}
 :aliases {:build    {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.2"
                                                                  :git/sha "0361dde"}}
                      :ns-default build}
           :deploy   {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                      :exec-fn    deps-deploy.deps-deploy/deploy
                      :exec-args  {:installer :remote
                                   :artifact  "target/fsm.jar"
                                   :pom-file  "target/classes/META-INF/maven/com.github.brianium/fsm/pom.xml"}}
           :format   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                      :main-opts  ["-m" "cljfmt.main"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :web/dev  {:extra-deps  {cljsjs/react              {:mvn/version "17.0.2-0"}
                                    cljsjs/react-dom          {:mvn/version "17.0.2-0"}
                                    com.bhauman/figwheel-main {:mvn/version "0.2.15"}
                                    integrant/integrant       {:mvn/version "0.8.0"}
                                    reagent/reagent           {:mvn/version "1.1.0"}}
                      :extra-paths ["dev/cljs"]}

           :web/demo {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}}}
